<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="loading-bar">
      <div class="progress-fill"></div>
    </div>

    <% if(response && response.length > 0) {%>
      <h2> <%=response['recommendations'] %></h2> 

    <% } %>
    
    

    <script src="/js/ai.js"></script>
</body>
</html>