<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/sites.css">
       <link href="https://cdn.jsdelivr.net/npm/daisyui@latest/dist/full.css" rel="stylesheet" type="text/css" />
       <link rel="icon" type="image/x-icon" href="/img/Gemini_Generated_Image_6lsml26lsml26lsm.png">
    <title>Sites</title>
</head>
<body>
<h1>Sites</h1>
<a href="/settings" class="text-red-200 hover:text-black-300 flex justify-center">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" width="30" height="30">
                <path stroke-linecap="round" stroke-linejoin="round" d="m2.25 12 8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" />
                </svg>

                </a>
<br>
<ul>
    <li style="--accent-color:#0B374D">
        <div class="icon">
            <img src="https://m.media-amazon.com/images/I/218tBoTFffL.jpg" alt="9Anime">
        </div>
        <div class="title">9Anime</div>
        <div class="descr">9anime is a free platform for streaming anime content. It offers a diverse selection of titles across various genres
            <br>
            <a href="https://9animetv.to/" target="_blank">Here</a>
        </div>
    </li>
    <li style="--accent-color:#1286A8">
        <div class="icon">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQrC910DMG0CKbrkwUyE_U0bAxgciX06kT7nA&s" alt="Anime Planet">
        </div>
        <div class="title">Anime Planet</div>
        <div class="descr">Anime Planet is a legal anime streaming service that offers a vast collection of anime content. The platform has a diverse library
            <br>
            <a href="https://www.anime-planet.com/" target="_blank">Here</a>
        </div>
    </li>
    <li style="--accent-color:#D2B53B">
        <div class="icon">
            <img src="https://res.cloudinary.com/jerrick/image/upload/v1744525085/67fb571df3130a001d352552.jpg" alt="Kiss Anime">
        </div>
        <div class="title">Kiss Anime</div>
        <div class="descr">KissAnime. KissAnime has long been regarded as one of the best anime websites free for streaming. It boasts an extensive library.
            <br>
            <a href="https://kissanime.com.ru/AnimeListOnline" target="_blank">Here</a>
        </div>
    </li>
    <li style="--accent-color:#DA611E">
        <div class="icon">
            <img src="https://assets.nintendo.com/image/upload/q_auto/f_auto/ncom/software/switch/70010000042000/e965921d2670a197008fe9403e50aaa0b150eabcaab4ce8b0c860d75ba4d1ee6" alt="Crunchy Roll">
        </div>
        <div class="title">Crunchyroll</div>
        <div class="descr">Crunchyroll is a popular streaming service focusing on anime and East Asian media. It offers a vast library of anime titles, including classic series, new releases, and exclusive "Crunchyroll Originals" 
            <br>
            <a href="https://www.crunchyroll.com/?srsltid=AfmBOopcoLu7wIMSlH15jxp5bQ97AzdIkHWOiUoeBBptLbQI3xeYnUmi" target="_blank">Here</a>
        </div>
    </li>
    <li style="--accent-color:#AC2A1A">
        <div class="icon">
            <img src="https://yt3.googleusercontent.com/CvgBA1ypUZNxOjiCX0l1V2FbAm7oSDPZE4YkMvkpT_4iLXQ3IXWVtBgWnznHxgtcUoj50TXqZA=s900-c-k-c0x00ffffff-no-rj" alt="NetFlix">
        </div>
        <div class="title">Netflix</div>
        <div class="descr">Netflix offers a wide variety of anime, both original and licensed, streaming exclusively on their platform. This includes anime series, movies, and documentaries. 
            <a href="https://www.netflix.com/browse/genre/7424" target="_blank">Here</a>
        </div>
    </li>
</ul>
    
    
</body>
</html>